{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'Test_site/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/login-style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
    <div id="login-form-wrap">
      <img id="logo" src="{% static 'img/sample-logo.png' %}" alt="">
        <h2>Login</h2>
        <form id="login-form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
          <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
          </p>
          <h3>Or</h3>
          <p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </p>
          <p>
          <input type="submit" id="login" value="Login">
          </p>  
        </form>
        <div id="create-account-wrap">
          <p>Not a member? <a href="#">Create Account</a><p>
          <p>Forgot password? <a href="#"> Click here.</a><p></p>
        </div><!--create-account-wrap-->
      </div><!--login-form-wrap-->
</body>

</html>