{% extends "base.html" %} {% load static %}

{% block title %} Hardware Store {% endblock %}

{% block style %}
<style>
    .hero{
        padding-bottom: 0px;
    }
    .hero__categories ul {
        position: absolute;
        left: 0;
        top: 46px;
        width: calc(100% - 30px);
        z-index: 9;
        background: #343a40;
        margin-left: 15px;
        border: 1px solid #252525;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="background-color: #212529;">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column p-3 py-5">
                <span class="profile-title font-weight-bold">{{ user.username }} </span>
                <span class="text-white-50">{{user.email}}</span>
                <span class="text-white-50">{{user.address_info.country}}</span>
                <span> </span>
                <h4 class="text-white-50">Payment methods</h4>

                <div class="d-flex justify-content-between align-items-center experience">
                    {% for address in addresses %}
                    <p> {{address.title}} </p>
                    {% endfor %}
                </div><br>

                <a class="primary-btn" href="{% url 'core:logout'%}">Log out</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="profile-title text-right">Profile Settings</h4>
                </div>

                <div class="Address-box">

                </div>
                
                <div class="mt-5 text-center"><a href="{% url 'core:address' %}" class="primary-btn">New address</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <span class="profile-title">Past orders</span>
                <div class="d-flex justify-content-between align-items-center experience">
                    {% for order in Orders %}
                    <div class="order-display">
                        <h1>{{ order.shipping_address.title }}</h1>
                    </div>
                    {% endfor %}
                </div><br>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}