{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'Test_site/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/style.css' %}" type="text/css">
</head>

<body>
    <h2>Register Page</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Log In Here">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>   
        <br>
        <a href="{% url 'core:register'%}">Don't have an account?</a>    
    </form> 
</body>

</html>