{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'Test_site/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'Test_site/css/login-style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
    <div id="login-form-wrap">
      <img id="logo" src="{% static 'img/sample-logo.png' %}" alt="">
                    
        <h2>Register</h2>
        <form id="login-form" method="POST" action="{% url 'core:register' %}">
          {% csrf_token %}
          <p>
          <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
          <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="password" id="password1" name="password1" placeholder="Password" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input type="password" id="password2" name="password2" placeholder="Password again" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
          <input type="submit" id="login" value="Register">
          </p>
        </form>
        <div id="create-account-wrap">
          <p>
            Your personal data is not being proccessed other then delivery purposes.
            You can read more in our terms and services page.
          </p>
        </div><!--create-account-wrap-->
      </div><!--login-form-wrap-->
</body>

</html>